@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

.info {
    border: #210199 dashed 2px;
    border-radius: 10px;
    background: white;

}
body{
    background: linear-gradient(
            -45deg,
            rgba(72, 209, 204, 0) 2px,
            #26adff 3px,
            rgba(72, 209, 204, 0) 3px )
    repeat;
    background-size: 5px 5px;
}

h2{
    margin-left: 20px;
    letter-spacing: .05em;
    font-size: 20px;
    color: #210199;
}
a{
    text-decoration: none;
    color: #0067ff;
}
span{
    color: #26adff;
}

