@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
span{
 color: #1c59c1;
}
.title{
    word-spacing: normal;
    font-size: 22px;
}
h1{
    padding-left: 16px;
    background: #4cafff;
    color: white;
    text-shadow: #010305 3px 1px;
}
h2{
    padding-left: 10px;
    margin: 10px;
    word-spacing: 15px;
    font-family: 'Source Serif Pro', serif;
}
.bl{
    background: rgba(76, 175, 255, 0.20);
    padding: 10px;
}
.cen{
    padding: 0 5px 0 5px;
}
#vokzal{
    word-spacing: 1px;
    font-size: 18px;
}
.pl{
    text-decoration: underline;
    color: black;
}